<html>

<head>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/fontawesome/css/all.min.css">
    <style>
        @font-face {
            font-family: 'NotoSansTC';
            src: url(css/Noto_Sans_TC/NotoSansTC-Bold.otf);
        }

        @font-face {
            font-family: 'NotoSansTC-Bold';
            src: url(./css/Noto_Sans_TC/NotoSansTC-Bold.otf);
        }
    </style>
</head>

<body>
    <div id="root"></div>
    <script src="bundle.js"></script>
</body>

</html>